<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Book Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <!-- <button class="nav-item">New Notes</button>
            <button class="nav-item">New Books</button> -->
            <a class="nav-item" href="/newnote.ejs/">New Notes</a>
            <a class="nav-item" href="#">New Books</a>
        </div>
    </div>
</body>

</html>