<%- include("partials/header.ejs") %>

    <div class="content">
        <div class="sorting-section">
            <select class="button" name="sorting">
                <option value="value">Date read</option>
                <option value="value">Rating</option>
            </select>
        </div>

        <br>
        [book section]
        - Book image
        - Books' title
        - ISBN
        - Data read
        - Summary
        - Rating

        </br>

    </div>