<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="sorting-section">
            <select class="button" name="sorting">
                <option value="value">Date read</option>
                <option value="value">Rating</option>
            </select>
        </div>

        <div class="note-section">
            <div class="note-item note-left">
                <img class="book-image" src="/images/book.jpeg">
            </div>
            <div class="note-item note-right">
                <div class="book-title-section">
                    <h2 class="book-title" style="margin: 0">Echoes of Eternity</h2>
                    <div class="rating">
                        <span class="yellow-star">★</span><span class="yellow-star">★</span><span class="yellow-star">★</span><span class="white-star">★</span>
                    </div>
                </div>
                <div>
                    <label>ISBN: </label>
                    <div class="book-list-result">9781234567890</div>
                </div>
                <div>
                    <label>Data read: </label>
                    <div class="book-list-result">12/03/2024</div>
                </div>
                <div>
                    <label>Summary: </label>
                    <div class="book-list-result">"Echoes of Eternity" is a captivating blend of historical fiction and speculative exploration. 
                        Dr. Emily Rivers' quest to decode the mysteries of ancient civilizations takes readers on an exhilarating ride, filled with unexpected twists and poignant revelations. 
                        The novel seamlessly weaves together elements of archaeology, metaphysics, and interpersonal drama, offering a unique perspective on the enduring echoes of our collective past. 
                        This book invites readers to ponder timeless questions about the nature of existence and the resonance of human experience across the ages.</div>
                </div>
            </div>
        </div>
    </div>