<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="mb-5 mt-5">New Book</h1>
    <form class="needs-validation" novalidate="">
        <div class="row g-3">

            <div class="col-sm-12">
                <label for="firstName" class="form-label">Title of the Book</label>
                <input type="text" class="form-control" id="firstName" required="">
                <div class="invalid-feedback">
                    Valid title of the book is required
                </div>
            </div>

            <div class="col-sm-6">
                <label for="actorName" class="form-label">Actor</label>
                <input type="text" class="form-control" id="actorName" required="">
                <div class="invalid-feedback">
                    Valid rating is required.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="firstName" class="form-label">ISBN</label>
                <input type="number" class="form-control" id="firstName" required="">
                <div class="invalid-feedback">
                    Valid rating is required.
                </div>
            </div>

            <div class="form-floating">
                <textarea class="form-control" id="summary"
                    style="height: 100px"></textarea>
                <label for="summary">Summary</label>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" name="createBook" value="Create Book">
                <input class="btn btn-primary" type="reset" name="clear" value="Clear">
            </div>
        </div>
    </form>

    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Title of the Book 1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
    </div>
    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Title of the Book 2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
    </div>
    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Title of the Book 3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
    </div>
        
</div>