<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="form-section">
            <h1>Notes</h1>
            <form method="POST" action="/notes/new">
        </div>
    </div>

    NOTES
    - Book dropdown field
    - dataread
    - rating
    - Notes
    - Submit and Clear buttons