<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="mb-5 mt-5">Notes - <%= notes[0].title %></h1>
    <div class="book-info">
        <div class="book-summary">
            <h4>Summary:</h4>
            <%= notes[0].summary %>
        </div>
        <div class="book-notes">
            <h4>Notes</h4>
            <% notes.forEach(element => { %>
                <p><%= element.notes %></p>
            <% }) %>
        </div>
    </div>
    <form class="needs-validation mt-5" novalidate="">
        <div class="row g-3">
            <div class="form-floating">
                <textarea class="form-control" id="note"
                    style="height: 100px"></textarea>
                <label for="note">Note</label>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" name="createBook" value="Create Note">
                <input class="btn btn-primary" type="reset" name="clear" value="Clear">
            </div>
        </div>
    </form>
</div>