body {
    background-image: url("/images/background-books.webp");
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button, select {
    padding: 8px;
    border-radius: 25px;
    border: 1px solid darkgrey;
}

.content {
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    align-items: center;
    padding: 20px
}

.navbar {
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.nav-item {
    background-color: #fff;
    margin-left: 10px;
} 

.sorting-section {
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.note-section {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.note-item {
    background-color: rgb(235, 247, 217);

}

.note-item > div {
    margin: 10px;
}