body {
    background-image: url("/images/background-books.webp");
    background-size: cover;
}

button, select {
    padding: 8px;
    border-radius: 25px;
    border: 1px solid darkgrey;
}

.content {
    width: 80%;
    margin: auto;
    background-color: green;
    align-items: center;
}

.navbar {
    background-color: red;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.nav-item {
    background-color: #fff;
    margin-left: 10px;
} 

.sorting-section {
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: aliceblue;
}